@import url("cabecalho.css");
@import url("corpo.css");
@import url("menuLateral.css");
@import url("cartao.css");
@import url("rodape.css");

* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0rem;
    padding: 0rem;
}

body {
    /* border: 0.5rem solid aqua; */
    min-height: 100vh; /* view-port height */
    display: flex;
    flex-direction: column;
}

.introducao {
    flex: 0 0 100%;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.banner-principal {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.introducao h2 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 24px;
}

.introducao p {
    margin-top: 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .cartao {
        width: 100%;
        box-sizing: border-box;
    }

    body > section {
        flex-direction: column;
    }

    nav {
        width: 100%;
        box-sizing: border-box;
    }

    .banner-principal {
        width: 100%;
        height: auto;
    }
}